<div class="inside">
  <h1>Projects</h1>

  <div>
    <h2><%= link_to current_user.stash.name, project_path(current_user.stash) %></h2>
  </div>

  <% if !@projects.wip.empty? %>
    <h2>In Progress:</h2>
      <% @projects.wip.each do |project| %>
      <div>
        <%= link_to project.name, project_path(project) %>
      </div>
      <% end %>
  <% end %>

  <% if !@projects.upcoming.empty? %>
    <h2>Upcoming:</h2>
      <% @projects.upcoming.each do |project| %>
      <div>
        <%= link_to project.name, project_path(project) %>
      </div>
      <% end %>
  <% end %>

  <% if !@projects.finished.empty? %>
    <h2>Finished:</h2>
      <% @projects.finished.each do |project| %>
      <div>
        <%= link_to project.name, project_path(project) %>
      </div>
      <% end %>
  <% end %>
</div>
