/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Errors */
.field_with_errors {
  padding: 2px;
  background-color: #FEED01;
  display: table;
}

/* General */
* {
  font-family: sans-serif;
  font-weight: 400;
  /* letter-spacing: 10px; */
  /* line-height: 10px; */
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  /* pink balls */
  /* background-image: url("https://live.staticflickr.com/8104/8638710754_af31bf40b2_h.jpg"); */
  /* red balls */
  background-image: url("https://live.staticflickr.com/8255/8645200914_742a23fc79_h.jpg");
  background-color: white; /* Used if the image is unavailable */
  /* height: 500px; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #863A6D;
}

h1 {
  width: 100%;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.6);
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  /* margin: 10px; */
  border: 1px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}

.weight h3 {
  margin: 22px 0px 10px 15px;
}

.container {
  height: 100%;
  position: fixed;
  overflow: scroll;
  width: 100%;
  background: rgba(255,255,255, 0.4);
  margin: 0 auto;
  padding-bottom: 20px;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 5%, rgba(255,255,255,0.6) 95%, rgba(255,255,255,0) 100%);
}

.content-container {
  box-sizing: border-box;
  width: 90%;
  /* height: 90%; */
  margin: 0 auto;
  margin-top: 46px;
  padding: 0;
  /* overflow: scroll; */
}

.inside {
  width: 98%;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.6);
  padding: 15px;
  margin: 10px 15px 10px 10px;
  border: 1px;
}

.list-project, .list-tools, .weight {
  width: 100%;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.6);
  padding: 10px 10px 10px 10px;
  /* margin: 0 auto; */
  margin: 10px auto;
  border: 1px;
}

form, .project-notes, .project-yarns, .project-tools, .brand-yarns {
  width: 100%;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.6);
  padding: 15px;
  margin: 10px 15px 10px 0px;
  border: 1px;
}

.project-details, .brand-details {
  width: 100%;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.6);
  padding: 15px 15px 15px 50px;
  margin: 10px 15px 10px 0px;
  border: 1px;
}

.button_to {
  display: inline;
  background: none;
}

.main-single {
  width: 100%;
  background: rgba(255,255,255, 0.4);
  border: 1px;
  border-color: grey;
}

.home-box {
  /* width: 40%; */
  /* background: rgba(255,255,255, 0.4); */
  border: 1px;
  border-color: grey;
}

.main-left-column {
  width: 49.1%;
  float: left;
}

/* .main-box-1 {
  height: 375px;
  overflow: scroll;
}

.main-box-2 {
  height: 225px;
  overflow: scroll;
  margin-top: 10px;
}

.main-box-3 {
  height: 610px;
  overflow: scroll;
} */

.main-right-column {
  width: 49.1%;
  float: right;
  margin-right: 13px;
}

/* .each-brand {
  margin-bottom: 10px;
} */

.each-project, .each-tool {
  margin: 0px 0px 8px 25px;
  font-size: 18px;
}

.each-yarn {
  margin: 0px 0px 8px 34px;
  font-size: 18px;
}

.each-brand-yarn {
  margin: 0px 0px 8px 25px;
  font-size: 18px;
}

span {
  font-size: 13px;
  margin-left: 6px;
}

.list-tools {
  padding-top: 25px;
}

/* Navigation bar - layouts/application.html.erb */
ul.nav-bar {
  /* box-sizing: border-box; */
  color: #863A6D;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0;
  overflow: hidden;
  background-color: #F3C6C6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}
ul.nav-bar li.nav {
  float: left;
  display: block;
  width: 90px;
  font-weight: 100;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav-bar li.nav-right {
  float: right;
  display: block;
  width: 90px;
  font-weight: 100;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav:hover, li.nav-right:hover {
  background-color: #CB6F6F;
  color: white;
}

/* Checkboxes - projects/_form.html.erb */
.checkbox_container {
  display: block;
  vertical-align: -1px;
  margin: 5px;
 }
.checkbox_container input {
  display: inline-block;
  clear: left;
  float: left;
  width: 12px;
  margin: 3px;
 }
 .checkbox_container label {
   display: block;
   margin: 0 0 4px 25px;
  }
