<div class="inside">
  <h1>Edit <%= @yarn.brand.name %> - <%= @yarn.color %></h1>

  <%= render "form" %>
  <%= button_to "Delete Yarn", { action: "destroy", id: @yarn.id }, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
